[Desktop Entry]
Type=Application
Name=Krynet
Comment=Official Krynet.ai Privacy-First Chat Client
Exec=/opt/krynet/Krynet        # Full path to Krynet executable
Icon=/opt/krynet/assets/images/krynet.png
Categories=Network;Chat;
StartupNotify=true              # Desktop shows starting animation
StartupWMClass=Krynet           # Matches Sciter window class
MimeType=x-scheme-handler/krynet;
Terminal=false
